node_modules/
dist/
*.tsbuildinfo
.env
.env.*
!.env.example
coverage/
media/
!media/.gitkeep
media/*
!media/.gitkeep
*.mp4
*.mp3
*.wav
*.log
.DS_Store
Thumbs.db
apps/dashboard/dist
.vscode/*
!.vscode/extensions.json
.idea/
